@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{font-family: 'Rajdhani', sans-serif; padding: 0; margin: 0; box-sizing: border-box;}

h1{font-size: 80px;}

h1 a { color: #14b5ff;}
::-webkit-scrollbar {width: 0;}

li a{
    text-decoration: none;
    color: black;
}

.container{position: absolute;width: 100%; height: 100vh;}

.container ul {position: absolute;text-align: right;list-style-type: none;right: 50px;top: 50%;transform: translateY(-55%);}

.container ul li {transition: .3s; overflow: hidden; height: 100px;} 

.right-margin{margin-right: 50px;transition: .3s;}

.container ul li a{font-size: 100px;cursor: pointer;}

.images-container{
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.image-container{
    position: absolute;
    height: 600px;
    width: 400px;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    display: block;
}

img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}
img:hover{
    scale: 2;
    transition: .3s;
}

.img-reveal{
    opacity: 1 !important;
}

/* Sub page */

.flex-container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

.page-img-container{
    position: relative;
    width: 40%;
    max-height: 100%;
    margin: 20px;
    overflow: hidden;
    transform: .5;
}

.text-container{
    height: auto;
    width: auto;
    position: relative;
    top: 45%;
    left: 10%;
    transform: translateY(-50%);
}

.nav{
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.nav a {
    font-size: 25px;
    color: black;
    text-align: right;
    float: right;
    width: 100%;
    margin-right: 30px;
    margin-top: 20px;

}

.row{
    height: 90px;
    width: auto;
    overflow: hidden;
}
