@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{font-family: 'Rajdhani', sans-serif; padding: 0; margin: 0; box-sizing: border-box;}
body{
    background-color:#f2f2f2;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

h1{font-size: 110px;}

h1 a { color: #14b5ff;}
::-webkit-scrollbar {width: 0;}

li a{
    text-decoration: none;
    color: black;
}

.container{position: absolute;width: 100%; height: 100vh}

.container ul {position: absolute;text-align: right;list-style-type: none;right: 50px;top: 50%;transform: translateY(-55%);}

.container ul li {transition: .3s; overflow: hidden; height: 170px;} 

.right-margin{margin-right: 50px;transition: .3s;}

.container ul li a{font-size: 170px;cursor: pointer;}

.home-left-container{
    width: 50%;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    margin: 20px;
}
.home-left-container div {
    height: 100%;
    width: 23%;
    overflow: hidden;
}
.home-left-container div img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.home-left-container div img:hover{
    transform: scale(1.1)

}

.images-container{
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.image-container{
    position: absolute;
    height: 600px;
    width: 400px;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}

img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}
img:hover{
    transform: scale(1.1)
}

.img-reveal{
    opacity: 1 !important;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
    z-index: 100;
}

/* Sub page */

.flex-container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

.page-img-container{
    position: relative;
    width: 40%;
    max-height: 100%;
    margin: 20px;
    overflow: hidden;
    transform: .5;
}

.text-container{
    height: auto;
    width: auto;
    position: relative;
    top: 45%;
    left: 10%;
    transform: translateY(-50%);
}

.nav{
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.nav a {
    font-size: 25px;
    color: black;
    text-align: right;
    float: right;
    width: 100%;
    margin-right: 30px;
    margin-top: 20px;

}

.row{
    height: 150px;
    width: auto;
    overflow: hidden;
}
